@font-face {
    font-family: "Inter";
    src: url("fonts/inter/InterVariable.ttf") format("truetype-variations");
    font-weight: 300 900; /* This specifies the available weight range from Light (300) to Black (900) */
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/inter/InterVariable-Italic.ttf") format("truetype-variations");
    font-weight: 300 900;
    font-style: italic;
}

html {
    background-color: #888888;
}

body {
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    font-family: Inter, Helvetica, Arial sans-serif;
    max-width: 1100px
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 12 equal columns */
    grid-gap: 50px; /* spacing between grid items */
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    grid-column: span 4;
    min-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
}

.header-svg {
    width: 27px;
    height: 27px;
    margin-bottom: 2px;
}

.menu {
    grid-column: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
}

.menu div {
    margin-bottom: 9px;
}

.menu div:last-child {
    margin-bottom: 30px;
}

.nav-link {
    font-size: 1.3em;
    font-weight: 450;
    text-decoration: none;
    color: #b2b2b2;
    transition: color 0.2s ease;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #005A92;
    transition: width 0.2s ease;
}

.nav-link:hover {
    color: #005A92;
}

.nav-link:hover::before {
    width: 100%;
}

.projects {
    grid-column: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.subtitle-link {
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease;
    position: relative;
}

.subtitle-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #005A92;
    transition: width 0.2s ease;
}

.subtitle-link:hover {
    color: #005A92;
}

.subtitle-link:hover::before {
    width: 100%;
}

.project-breadcrumb-header {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.project-breadcrumb-content {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 2em;
}

.arrow-link {
    text-decoration: none;
    margin-right: 7px;
    color: #000000;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.arrow-link::after {
    content: "";
    margin-left: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('assets/arrow_link_icon.svg') no-repeat center center;
    background-size: contain;
}

.arrow-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #005A92;
    transition: width 0.3s ease;
}

.arrow-link:hover {
    color: #005A92;
}

.arrow-link:hover::before {
    width: 100%;
}

.arrow-link:hover::after {
    background: url('assets/arrow_link_icon_blue.svg') no-repeat center center;
    background-size: contain;
}

.publications {
    grid-column: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.about {
    grid-column: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.about-text {
    font-size: 1.45em;
    line-height: 1.45;
    font-weight: 500;
}

.footer {
    grid-column: 1 / -1;
    text-align: center;
}

